/* reset CSS */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    display: flex;
    align-items: center;
    height: 50px;
}

header {
    padding-left: 15px;
    background-color: #000;
    color: #fff;
    box-shadow: 1px 1px 3px 2px #d7d1d1;
}

main {
    flex-grow: 1;
}

footer {
    justify-content: center;
}